body{
    margin: 0px;
}
header{
    display: flex;
    top: 0;
    width: 97%;
    background-color: rgb(236, 206, 167);
    justify-content: space-between;
    position: flex;
    z-index: 1;
    color: rgb(248, 243, 243);
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 23px;
    font-size: 30px;
    position: sticky;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
    transition: transform 0.8s ease;
    transition:color 0.10 ease ;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
    color: rgb(168, 164, 164);
}
nav a{
    padding: 15px 25px;
    text-decoration: none;
    color: rgb(243, 235, 235);
    font-size: 20px;
    border-radius: 8px;
    transition: 0.8s;
}
nav a:hover{
    background-color: rgb(248, 245, 238);
    color: rgb(240, 209, 163);
    border-radius: 8px;
}
html {
    scroll-behavior: smooth;
}
section.home {
    height: 600px;
}
section.about{
    background-color: rgb(236, 233, 198);
    height: 600px;
}
section.product{
    height: 600px;
}
section.contact{
    background-color: rgb(245, 232, 192);
    height: 600px;
}
footer{
    background-color:  rgb(236, 206, 167);
    height: 50px;
}
section.home{
    height: 600px;
    background:url("gambar2yogurt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top:100px;
}
section.home .welcome{
    display: flex;
    align-items: center;
    margin-left: 300px;
}
section.home .welcome img{
    width: 150px;
}
.goyang{
    animation: goyang 2s infinite ease-in-out;
    display: inline-block;
}
@keyframes goyang {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(-3deg); }
    50%  { transform: rotate(3deg); }
    75%  { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}
section.home div{
    text-align: center;
    color: rgb(75, 72, 72);
    margin:auto;
    margin-top: 5px;
    width:75%;
    padding-bottom: 50px;
    font-size: 20px;
    padding-top: 25px
}
section.home .welcome h1{
    font-size: 150px;
    margin-top: 50px ;
    margin-bottom: 10px;
    margin-top: 2px;
}
section.home a{
    color:rgb(0, 0, 0);
    padding:10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
    transition: 0.3s;
}
section.home a:hover{
    background-color: rgb(212, 167, 108);
    color: rgb(241, 240, 239);
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgb(228, 216, 113);
}
section.about{
    background-color: rgb(230, 206, 186);
    height: 600px;
    padding-top:100px;
    background: 
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), 
    url('gb3yogurt.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
}
section.about div{
    color: rgb(85, 81, 81);
    text-align:center;
    margin:auto;
    width:85%;
    font-size: 20px;
    margin-top: 65px;
}
section.about img{
    height: 250px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px;
    color: rgb(184, 179, 179);
    transition: transform 1s ease;
    cursor: pointer;
}
section.about img:hover{
    transform: scale(1.1);
}
section.product{
    background:url("gb4yogurt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1200px;
}
section.product .container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}
section.product .container .card{
    color: black;
    padding: 25px 30px;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgb(134, 132, 132);
    border-radius: 20px;
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.541);
    margin-top: 15px;
    transition: transform 0.8s ease;
    cursor: pointer;
}
section.product .container .card:hover{
    transform: scale(1.1);
}
section.product .container .card img{
    width:100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 8px;
}
section.product .container .card a{
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
section.product .container .card a:hover{
    background-color: rgb(190, 188, 174);
    color: rgb(255, 254, 254);
    transition: 0.3s;
    border-radius: 20p
}
section.product .judul{
    text-align: center;
    padding-top: 90px;
    font-size: 30px;
}
section.contact{
    height: 600px;
    background:
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), 
    url(gb5cafe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top:100px;
    display: flex;
    justify-content: center;
}
section.contact .card{
    background-color: rgba(240, 222, 197, 0.842);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 600px;
    height: 250px;
    text-align: center;
    font-size: 25px;
    padding-top: 45px ;
    margin-top: 150px;
    color: rgb(71, 68, 68);
    transition: transform 0.6s ease;
    cursor: pointer;
}
section.contact .card:hover{
    transform: scale(1.1);
}
section.contact .card p{
    margin-bottom: 5px;
    margin-top: 5px;
}
section.contact .card h3{
    margin-bottom: 20px;
}
section.contact .card img{
    width:500px;
    padding-top: 3px;
    border-radius: 10px;
}
footer{
    background-color:  rgb(236, 206, 167);
    height: 40px;
    padding-top: 10px;
}
footer .medsos{
    text-align: center;
    padding-top: 5px;
}
footer .medsos a{
    color: rgb(245, 242, 242);
    font-size: 20px;
    padding: 5px 20px;
    color: rgb(248, 242, 242);
    transition: 0.6s;
}
footer .medsos a:hover{
    background-color: rgb(248, 245, 238);
    color: rgb(231, 175, 91);
    border-radius: 30px;
}
footer .medsos .icon{
    filter: drop-shadow(2px 2px 5px rgba(36, 34, 34, 0.5));
}
.icon{
    filter: drop-shadow(2px 2px 5px rgba(245, 236, 236, 0.5));
}